[user]
  name = gwn
  email =
  signingkey =

[commit]
  gpgsign = true

[core]
  excludesFile = ~/.gitignore

[alias]
  a     = add
  d     = diff
  dc    = diff --cached
  s     = status -s
  ss    = status
  cm    = commit
  b     = branch
  co    = checkout
  l     = log

[merge]
  tool = vimdiff

[pager]
  log = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
  diff = diff-so-fancy | less --tabs=4 -RFX
