#!/bin/sh

export EDITOR=vim

xset r rate 350 30
xinput disable "SynPS/2 Synaptics TouchPad"
unclutter -b

# libinput config (comment out if using synaptics driver)
# xinput set-prop  12 276 1
# xinput set-prop 12 276 1
# xinput set-prop 12 288 0.7

# Fujitsu config
# xinput set-prop "PS/2 Generic Mouse" "libinput Accel Speed" 1
# xinput set-prop "PS/2 Generic Mouse" "libinput Middle Emulation Enabled" 1
